.main {
	@media (max-width: $maxw) {
		&__body {
			margin-top: 231px;
		}
		&__text-block {
			margin-right: 0;
		}
		&-slider {
			display: none;
		}
	}
	@media (max-width: $md2) {
		&__body {
			margin-top: 169px;
		}
	}
	@media (max-width: $md4) {
		&__body {
			margin-top: 114px;
		}
	}
	@media (max-width: $md6) {
		&__title {
			font-size: 50px;
			line-height: 67px;
			letter-spacing: 0.1em;
		}
		&__descr {
			margin-top: 30px;
		}
	}
}